.bookDiv {
  width: 9rem;
  height: 11rem;
  margin: 2px;
  font-size: 1.3rem;
  border: solid thin darkgrey;
  float: left;
  padding: .25rem
}

.list-group-item.active {
  background-color: #E1B68C;
  color: #372D22;
}

.list-group-item{
  background-color: #ddd3c8;
}